body, html {
    margin: 0;
    padding: 0;
    padding-top: 20px; /* Space for fixed navbar */
    font-family: Arial, sans-serif;
    background-color: #333;
}

/* Navigation bar styling */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: darkred;
    color: white;
    padding: 20px; /* Adjusted padding for smaller fixed value */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between; /* This spreads the items evenly */
}

.navbar li {
    margin-right: 20px; /* Adjust the spacing between the list items */
}

.navbar li:last-child {
    margin-right: 0; /* Ensures that the last item doesn't have extra space on the right */
}

.navbar a {
    color: rgb(221, 162, 12);
    text-decoration: none;
    padding: 5px 5px;
}

/* Content styling */
.content-container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 5px;
    box-sizing: border-box;
}

.portfolio-intro {
    text-align: center;
    padding: 20px 20px;
    background: rgba(51, 51, 51, 0.8);
    backdrop-filter: blur(10px);
    margin-bottom: 0;
}

.portfolio-intro h1, .portfolio-intro p {
    margin-bottom: 0.5em;
    font-size: 16px;
    color: white;
}

/* Slideshow and additional photos styling */
.portfolio-slideshow, .additional-photos {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-top: 20px;
}

.portfolio-slide, .additional-photo {
    display: none; /* Hide all slides and photos by default */
    width: 100%;
    object-fit: cover;
}

.portfolio-slide img, .additional-photo {
    cursor: pointer;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: white;
    font-weight: bold;
    background-color: rgba(0,0,0,0.5);
    z-index: 20;
}

.next { right: 0; }
.prev { left: 0; }

/* The Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    object-fit: contain;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Category section styling */
.category-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
    padding-bottom: 5px;
}

.category {
    flex-basis: calc(33.333% - 20px);
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cover-photo {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.portfolio-intro .caption {
    color: white;
}

.caption {
    font-size: 1.2em;
    margin-top: 10px;
}
.category a, .category a:focus {
    border-bottom: none;
    outline: none;
    box-shadow: none;
}


/* Footer styling */
.footer {
    background-color: darkred;
    color: rgb(221, 162, 12);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 10;
    flex-shrink: 0;
    margin: 0;
    border: 0;
}

/* Media Queries for Responsiveness */
@media (max-width: 1024px) {
    .category { flex-basis: calc(50% - 20px); }
}

@media (max-width: 768px) {
    .navbar {
        padding: 20px; /* Adjust padding for mobile */
    }
    .portfolio-slide img, .additional-photo { object-fit: scale-down; }
    .category { flex-basis: calc(100% - 20px); }
    .content-container, .navbar { padding: 0 10px; }
}
